[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/nikitapavets
[access "refs/for/refs/*"]
	read = group user/nikitapavets
	push = group user/nikitapavets
	label-Code-Review = -2..+2 group user/nikitapavets
	label-Verified = -1..+1 group user/nikitapavets
	rebase = group user/nikitapavets
	removeReviewer = group user/nikitapavets
	submit = group user/nikitapavets
[access "refs/heads/*"]
	read = group user/nikitapavets
	create = group user/nikitapavets
	push = +force group user/nikitapavets
	pushMerge = group user/nikitapavets
[access "refs/tags/*"]
	push = +force group user/nikitapavets
	pushTag = group user/nikitapavets
	pushSignedTag = group user/nikitapavets
